<!-- Footer -->

<footer class="footer">
    <div class="container row">
      <div class="column-left">
         <p>Images Courtesy of Unplash</p>
      </div >
       
      <div class="column-right">
        <p>Made by <i>Bellevue University </i>Student</p>
      </div>
    </div>
</footer>


</body>
</html>