<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS & font links -->
    <link rel="stylesheet" href="styles/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@300;400;500&display=swap" />
</head>

<body>
<header>
    <!-- Navbar section -->
    <div id="main-nav">
        <div class="container">
            <div class="navbar">
                <div><h1 class="nav-brand">Pets-R-Us</h1></div>
                
                <ul>
                    <li class="dropdown">
                       <a href="javascript:void(0)" class="dropbtn">Services</a>
                       <div class="dropdown-content">
                         <a href="/grooming">Grooming</a>
                         <a href="/training">Training</a>
                         <a href="/boarding">Boarding</a>
                        </div>
                      
                        <li><a href="#">Customer</a></li>
                        <li><a href="#">Booking</a></li>
                        <li><a href="#">My Appointments</a></li>
                    
                     </li>
                   </ul>
            </div>
        </div>
    </div>
</header>

 <!-- Showcase -->
 <div id="showcase">
    <div class="container">
        <div class="showcase-container">
            <div class="showcase-content">
                <h1>Pets-R-Us</h1>
                <div class="btn"><a href="#">Sign up for a free account</a></div>
            </div>
        </div>
    </div>
</div>