<!-- Header section -->
<%- include('_header.ejs') %>

<!-- boarding -->
<section id="location-section">
    <div class="container">
        <div class="location">
            <h1>Pet Boarding</h1>
            <p class="mission-text">We offer pet boarding services include a safe and comfortable environment for pets to stay while their owners are away. 
                Your pets will be treated like at home. We know that night time is a special time for pups. It is a reason that we ensure your pet will have
                 a beauty rest with a comfortable bed and as many pillows, blankets as they need. Our facilities are metal-free – meaning we have no metal crates, 
                 chain-link fencing or small enclosed spaces. We provide fresh water, a comfortable bed and companies. We pride ourselves in making sure that all 
                 pups have regular meals and go potty right before bedtime and as soon as they wake up. More importantly, we ‘ve noticed that how music helps 
                 them relax, and therefore play soothing music at night as they drift off to sleep is crucial. We also ensure that your pets have plenty of space, comfortable 
                 temperature controlled, comfy beds and blankets to be tucked in for a good night’s sleep.
            </p>
        </div>
    </div>
</section>

<!-- Boarding price -->
<section id="pet-boarding" >
    <div class="">
        <div class="container">
            <div class="grid">
            <div class="card-grid-1">
                <h3 class="text-yellow">Daytime Pet Care</h3>
                    <p>Catering to your pet’s needs while you’re out for the day, our Daytime Pet Care service provides up to 10 hours of focused care between the 
                        hours of 8 a.m. and 6 p.m.  We’re committed to ensuring your pet is nourished, entertained, and loved when you can’t be there. 
                    </p>
                    <p><span class="bold">Price:</span> $50 per day </p>
            </div>

            <div class="card-grid-2">
                <div class="card-grid-1">
                    <h3 class="text-yellow">Nighttime Pet Care</h3>
                        <p>Night time pet care ensure your pet’s comfort during the night hours, we will walk your dogs for at least 30 of mins before we depart in the morning. 
                            Whether it’s a cuddly cat or an energetic dog, with our overnight care from 8:00pm to 8:am, your pet enjoys comfort, companionship and loving care while you are away.</p>
                        <p><span class="bold">Price:</span> $100 per day </p>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>



<!-- Footer -->
<%- include('_footer.ejs') %>