<!-- Header section -->
<%- include('_header.ejs') %>
        
    <!-- Grooming  -->
    <section id="grooming-section">
        <div class="container">
            <div class="location">
                <h1>Grooming</h1>
                <p class="mission-text">We believe that a happy pet is a healthy pet, both mentally and emotionally. That's why we prioritize creating a comfortable 
                    environment where your pet's experience is truly exceptional. At our dog grooming salon,we understand that each furry visitor is unique, 
                    and we believe in providing personalized services to cater to their individual needs. 
                </p>
                <p class="mission-text">Our services include a range of top-notch features that are always at your pet’s disposal. From high quality of grooming to luxurious treatment. 
                    Our commitment to your pet’s well-being extends beyond the grooming session. We also offer grooming products that will help maintain your furry friend’s stylish appearance. 
                     We will even assist establishing a grooming schedule tailored to you loving pet specific needs. 
                </p>
            </div>
        </div>
    </section>

    <!-- Pricing  -->
    <section id="pricing">
        <div class="container">
            <div class="card-grid-2">
                <br>
                <div class="dog card-dog">
               <h3 class="pet-title">Dog Grooming Prices List</h3>
               <div class="pet-content">
                <p><span class="bold ">Full Service (small dogs):</span> $40</p>
                <p><span class="bold ">Full Service (large dogs):</span> $75</p>
                <p><span class="bold">Nail trim + buffing:</span> $15</p>
                <p><span class="bold">Teeth brushing:</span> $10</p>
                <p><span class="bold">Nail Polish:</span> $7</p>
                <p><span class="bold">Blueberry facial:</span> $5</p>
                <p><span class="bold">Ear cleaning:</span> $10</p>
                <p><span class="bold">Gland expression:</span> $10</p>
                <p><span class="bold">Paw balm:</span> $5</p>
               </div>
               </div>
           </div>
        </div>
    </section>

<!-- Footer -->
<%- include('_footer.ejs') %>