<!-- Header section -->
<%- include('_header.ejs') %>

<!-- Training-->
<section id="location-section">
    <div class="container">
        <div class="location">
            <h1>Pet Training</h1>
            <p class="mission-text">Pet training is an important task for many owners and their pets to be involved in. After all, nothing builds the bonds between you and your pet quite like the process of teaching and learning together. 
                Plus, the end result will have your pet listening to your every command and thriving to the best of their ability. 
                Our philosophy is to move your pets through exercise, interactive play and socialization with the skills and dedication of our professional, friendly and knowledgeable staff.
            </p>
        </div>
    </div>
</section>

    <!-- Location -->
    <section id="dog-trainer">
        <div class="container ">
            <h1>Our Trainers</h1>
            <div class="grid">
                
                <div class="card">
                <div><img src="../images/dogtraining1.webp" class="dog-trainer" alt=""></div>
                
                    <div class="card-grid-1">
                        <p> 
                            Judy Gamet has a bachelor of Science in Dance Education from Western Michigan University. Judy has passion for dog training. 
                            Judy has shared her life with her beloved dog for over twenty years. Being a responsible dog owner, 
                            Judy began studying obedience training and various dog sports. She finally finds her new passion with dog training 
                            and spending most of her time for special furry friends. 
                              </p>
                    </div>
                </div>
    
              <div class="card">
                 <div class="card">
                    <div><img src="../images/dogtraining2.jpg" class="dog-trainer" alt=""></div>
                 <div class="card-grid-2">
                    <p> Trish is a Certified Professional Dog Trainer. Trish teaches Beginning Manners, Puppy and Canine Good Citizen classes for almost 15 years.
                        She is committed to science-based, force-free training methods, uses positive reinforcement to keep dogs and their people happy and strives 
                        to teach simple, effective methods to achieve goals. She has competed to title dogs in AKC Rally and she and her husband have a local dog walking 
                        and training business. 
                             </p>
                 </div>
               </div>
            </div>
          </div>
        </div>
</section>

<!-- Training Pricing -->

<section id="training-price">
    <div class="container ">
      <div ><h1 class="customers">Training Package Price</h1></div>
      <div class="testimonial ">
          <p class="testimonial-text">Dog walking services provide a regular and consistent exercise routine for dogs, which is essential for their physical and mental health.
            Whether your lively young pets requires a lengthy, energetic walk with a generous dose of playtime, or your older companion prefers a gentle, leisurely stroll, 
            we adjust to your pet’s requirements. We value your choice, design walks according to your dog’s disposition, age and energy level.
          </p>
            <div class="author bold">$100 - 3 hours</div>
        </div>

        <div class="testimonial ">
            <p class="testimonial-text">Pet sitting services involve taking care of pets when their owners are away. This can include feeding, playing, walking,
                 and administering medication. Our trainers may feed the pets, provide fresh water, take them for walks, and give them playtime and attention. 
                 Pet sitting is often a preferred option for pets who are more comfortable in their familiar environment.</p>
              <div class="author bold">$60 - 3 hours</div>

        </div>

        <div class="testimonial ">
            <p class="testimonial-text">Pets-R-Us offer pet training, where professional trainers work with dogs to teach them basic obedience 
                commands and address behavioral issues. We also offer in-person training classes and workshops taught by experienced, professional trainers. 
                We use positive reinforcement techniques to help your pets valuable life skills. </p>
              <div class="author bold">$50 - 1 hour</div>
          </div>
    </div>
  </section>

<!-- Footer -->
<%- include('_footer.ejs') %>